/* ===== HERO ===== */
.hero {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    align-items: center;
    gap: 80px;
}

.hero-text h1 {
    font-size: 44px;
    margin-bottom: 24px;
    
}

.hero-text p {
    font-size: 18px;
    max-width: 520px;
    color: #555;
}

.hero-buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 260px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

/* ===== HOME ABOUT ===== */
.home-about {
    margin: 80px auto;
    max-width: 800px;
    text-align: center;
}

.home-about h2 {
    font-size: 30px;
    margin-bottom: 16px;
    
}
h2:hover {
  color: #007acc;
  transform: translateY(-4px);
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
h1:hover {
  color: #007acc;
  transform: translateY(-4px);
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}



/* ===== HOME SKILLS ===== */
.home-skills {
    margin: 80px auto;
    max-width: 900px;
    text-align: center;
}

.home-skills h2 {
    font-size: 30px;
    margin-bottom: 20px;
   
}

.skills-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.skills-list li {
    background: #f1f1f1;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: #195d8a;
}
.skills-list li:hover {
    background: #195d8a;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}
section {
  max-width: 1100px;
  margin: 60px auto;
}

h1, h2, h3 {
  color: #0f4c5c;
}


/* ===== HOME PROJECTS ===== */
.home-projects {
    margin: 60px auto 40px;
    text-align: center;  
}
.shosen-projects{
    margin-bottom: 30px;
}
.project-preview {
  background: #ffffff;
  padding: 40px;
  border-radius: 24px;
  margin-bottom: 24px;
   margin-bottom: 30px;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-left 0.3s ease;
  border-left: 4px solid transparent;
}

.project-preview:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
  border-left: 4px solid #195d8a; /* deine Akzentfarbe */
}


.project-preview h3 {
    margin-bottom: 8px;
    transition: color 0.3s ease;
}
.project-preview:hover h3 {
  color: #195d8a;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }

    .hero-image {
        order: -1;
    }
}
