* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
html, body {
    height: 100%;
}


/* ===== HEADER ===== */
header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.header-inner {
    max-width: 1100px;
    margin: 0 auto;
    height: 80px;
    padding: 0 48px;

    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    height: 40px;
}

/* Navigation */
nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #007BFF;
}

/* Language Switch */
.language-switch {
    font-size: 12px;
}

.language-switch a {
    text-decoration: none;
    color: #777;
    margin-left: 8px;
}

.language-switch a:hover {
    color: #007BFF;
}

/* ===== CONTAINER ===== */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

/* ===== HERO ===== */
.hero {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    align-items: center;
    gap: 80px;
}

.hero-text h1 {
    font-size: 44px;
    margin-bottom: 24px;
}

.hero-text p {
    font-size: 18px;
    max-width: 520px;
    color: #555;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 260px;
    height: 320px;
    object-fit: cover;
    object-position: center 30%;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

/* ===== FOOTER ===== */
footer {
    margin-top: 80px;
    /* margin: 20px 0; */
    text-align: center;
    font-size: 18px;
    color: #777;
     /* animation: fadeUp 1s ease-out forwards; */
    /* opacity: 0; */
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
    nav {
        justify-content: center;
    }

    .hero {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }

    .hero-image {
        order: -1;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-image img {
        width: 200px;
        height: 240px;
    }
}

.hero-buttons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}
.btn.primary, .btn.secondary {
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: background-color 0.2s ease;
}
.btn.primary:hover, .btn.secondary:hover {
    background-color: #203d5c;
}