*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* mit Border-box zählen Padding und Border zur angegebenen Breite/Höhe dazu. */
    font-family: sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.logo{
    width: auto;
    height: 40px;
    border-radius: 0;
    border: none;
    display: block;
    outline: none;
}
nav{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
    /* margin-right: 100px; */
}
header {
    display: flex;
    align-items: center;
    height: 80px;              /* DAS stabilisiert alles */
    padding: 0 48px;           /* vertikales Padding raus */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header ul{
    list-style: none;
    display: flex;
    gap: 24px;
}
header a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

header a:hover{
    color: #007BFF;
}
.language-switch{
    font-size: 10px;
    color: #777;
    margin-left: auto;
}
.language-switch a{
    text-decoration: none;
    color: #777;
    margin-left: 8px;
}
.language-switch a:hover{
    color: #007BFF;
}